

.bg2{
    height: 20rem;
    background-image: url(../../images/bg.jpg);
    height: 20rem;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--blanco);
    gap: 10px;
    margin:  0 4%;
    padding-top: 2rem;
    border-radius: 10px;
}
.bg2 a{
    color: var(--blanco);
    display: flex;
    gap: 10px;
    align-items: center;
}


@media (max-width: 1024px) {
    .contact{
        padding: 0;
       
    }
    .bg2{
       display: none;
       height: 0;
       margin: 0;
}
}